// fonts
$font-main: "Open Sans", cursive;
//color
$color-bg: #F3F4F5;
$dull-orange: #E17334;
//Palette colors
$dark-green-blue: #114E4E;
$dirty-blue: #438792;
$hospital-green: #A2DEAF;
$dried-blood: #420101;
$rusty-red: #BD1010;
$tomate: #E95626;
$slate: #3E5B65;
$faded-orange: #EAB052;
$light-grey-blue: #A0C0CF;




