// fonts
$font-main: "Open Sans", cursive;
//color
$color-bg: #f3f4f5;
$dull-orange: #e17334;
//Palette colors
$dark-green-blue: #114e4e;
$dirty-blue: #438792;
$hospital-green: #a2deaf;
$dried-blood: #420101;
$rusty-red: #bd1010;
$tomate: #e95626;
$slate: #3e5b65;
$faded-orange: #eab052;
$light-grey-blue: #a0c0cf;
$brownish-grey: #6b6b6b;
