.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 1px #d8d8d8;

  width: 100%;
  box-sizing: border-box;

  &__text {
    margin-top: 10px;

    opacity: 0.5;
    margin-left: 40px;
    margin-bottom: 20px;

    font-family: "Open Sans", sans-serif;
    font-size: 14px;

    color: $brownish-grey;
  }
  &__logo {
    width: 103px;
    height: 40px;

    margin-left: 50px;
    margin-right: 60px;
  }

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 8vh;
  }
}
