.form-fill-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 1rem;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: $dark-green-blue;
}

.form__data {
  display: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.form__fill_Label {
  margin-top: 0.5rem;
  margin-bottom: 0.5em;
  color: $dark-green-blue;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.form__input {
  margin-bottom: 1em;
  height: 2rem;
  width: auto;
  border: solid 1px $hospital-green;
  line-height: 20px;
  padding: 1em;
  color: $dark-green-blue;
  background: transparent;
  max-width: 450px;
}

::placeholder {
  color: $pinkish-grey;
  font-size: 14px;
}

//image button styles
.img__box {
  display: flex;
  align-items: center;
}

.form__img {
  margin-bottom: 1rem;
}

.form__btn {
  padding: 0.7em;
  border-radius: 0.5em;
  background-color: $dull-orange;
  border: $dull-orange;
  color: $white-four;
  width: 150px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin-top: 0.5rem;
  text-align: center;
  cursor: pointer;
}

//checkbox styles
.form__photothumb {
  border: solid 1px $hospital-green;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  background: transparent;
  background-position: center;
  background-size: cover;
}


.hidden {
  display: none;
}

.visible {
  display: block;
}


