.create_Card_btn {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: $dull-orange;
  border: none;
  color: white;
  font-size: 18px;
  padding: 15px 25px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.create_Card_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: $dull-orange;
  border-radius: 2px;
  padding: 2px;
  padding-bottom: 1px;
  font-size: 20px;
  margin-right: 10px;
  line-height: 1;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1px;
}

.disabled {
  background-color: lightgray;
  cursor: not-allowed;
  color: white;
}

.disabled_icon {
  color: lightgray;
}

.created_Card {
  color: #54585a;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
  border: 0;
  border-top: 2px groove #a0c0cf;
  padding-top: 15px;
  width: 100%;
  text-align: center;
  align-items: center;
}

.creat_Card_link {
  list-style-type: none;
  text-decoration: none;
  color: $dull-orange;
  margin-bottom: 12px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.twitter_btn {
  display: none;
  margin-top: 10px;
  margin-left: 60px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #1da1f2;
  color: white;
  border: none;
  margin-bottom: 10px auto;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.form-share-section {
  display: none;
}

/*.form-share-section.visible {
  display: block;
}*/ 

.form-share-section.visible {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 95%;
}


.icon_arrow.active {
  transform: rotate(180deg);
}
