.main__landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__1 {
  margin-left: 35px;
  margin-right: 35px;
}

.section__1__img {
  width: 250px;
  height: 63px;
  margin-inline: 35px;
  margin-top: 95px;
  margin-bottom: 35.4px;
}

.section__1__text__1 {
  margin-left: 47.7px;
  margin-right: 49.3px;
  width: 223px;
  font-family: "Merriweather", serif;
  font-size: 19.2px;
  font-weight: 900;

  text-align: center;
  color: $dull-orange;
}

.section__1__text__2 {
  margin-left: 27.2px;
  margin-right: 28px;
  font-family: "Open Sans", sans-serif;
  font-size: 12.8px;
  font-weight: 500;

  text-align: center;
  color: $dark-green-blue;
}

.section__2__icons {
  display: flex;
  justify-content: space-around; /* Distribuye los elementos con espacio igual entre ellos */
  align-items: center; /* Centra los elementos verticalmente */
  text-align: center; /* Centra el texto dentro de cada contenedor */

  box-sizing: border-box;
  margin-left: 25.6px;
  margin-right: 26.4px;
  margin-top: 17.8px;

  height: 73.8px;
  width: 268px;

  padding: 15px 20px 9.8px 20px;

  border-radius: 4px;
  border: solid 1.6px rgba(225, 115, 52, 0.21);
}
.section__2__icons i {
  display: block; /* Asegura que los iconos ocupen todo el ancho disponible */
  font-size: 24px; /* Tamaño del icono, puedes ajustarlo según sea necesario */
  margin-bottom: 8px; /* Espacio entre el icono y el texto */
  color: #e17334;
}

.section__2__icons p {
  font-family: "Open Sans", sans-serif;
  font-size: 12.8px;
  font-weight: 400;
  color: #54585a;
}

.section__2__Btn {
  margin-left: 90px;
  margin-right: 101px;
  margin-top: 50px;
  margin-bottom: 30px;

  size: 42px 129px;

  padding: 10px 25px;
  border-radius: 21px;
  background-color: #438792;
}
.section__2__Btn__text {
  margin-block: 10px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;

  text-align: center;
  color: #ffffff;
}
