<section class="form-fill-section">
  <div class="form_fill js__form_fill">
    <div class="form__data">
      <label class="form__fill_Label" for="name">Nombre Completo</label>
      <input class="form__name form__input js__input_name" id="name" type="text" placeholder="Ej: Sally Jill"
        required />
    </div>
    <div class="form__data">
      <label class="form__fill_Label" for="name">Puesto</label>
      <input class="form__job form__input js__input_job" type="text" id="job" placeholder="Ej: Front-end unicorn"
        required />
    </div>

    <div class="form__img">
      <label for="photo" class="form__fill_Label" for="image">Imagen del Perfil</label>
      <div class="img__box">
        <label for="photo" class="form__btn">Añadir imagen</label>
        <input class="js__profile-upload-btn hidden" type="file" name="photo" id="photo" />
        <span class="form__photothumb js__profile-preview"></span>
      </div>
    </div>
    <div class="form__data">
      <label class="form__fill_Label" for="email">Email</label>
      <input class="form__email form__input js__inputEmail" type="email" name="email" id="email"
        placeholder="Ej: sally.hill@gmail.com" />
    </div>
    <div class="form__data">
      <label class="form__fill_Label" for="phone">Teléfono</label>
      <input class="form__phone form__input js__inputPhone" type="number" name="phone" id="phone"
        placeholder="Ej: 5555-55-55-55" />
    </div>
    <div class="form__data">
      <label class="form__fill_Label" for="linkedin">Linkedin</label>
      <input class="form__linkedin form__input js__inputLinkedin" type="text" name="linkedin" id="linkedin"
        placeholder="Ej: linkedin.com/in/sally-hill" />
    </div>
    <div class="form__data">
      <label class="form__fill_Label" for="github">Github</label>
      <input class="form__github form__input js__inputGithub" type="text" name="github" id="github"
        placeholder="Ej: @sally-hill" />
    </div>
  </div>

</section>