<section class="form_design_section js__form_design_section">

    <div class="design__form js__design_form">


        <h3>COLORES</h3>


        <ul class="colors_palettes">

            <!-- --------COLORS 1------------>
            <li class="first_palette">
                <label for="palette_1" class="palette_label">
                    <input checked id="colors1" name="palette" type="radio" value="1"
                        class="input_palette js__inputPalette1">
                    <div class="palette palette_color1"></div>
                    <div class="palette palette_color2"></div>
                    <div class="palette palette_color3"></div>
                </label>
            </li>

            <!-- --------COLORS 2------------>

            <li class="second_palette">
                <label for="palette_3" class="palette_label">
                    <input checked id="colors2" name="palette" type="radio" value="2"
                        class="input_palette js__inputPalette2">
                    <div class="palette palette_color4"></div>
                    <div class="palette palette_color5"></div>
                    <div class="palette palette_color6"></div>
                </label>
            </li>

            <!-- --------COLORS 3------------>

            <li class="third_palette">
                <label for="palette_3" class="palette_label">
                    <input checked id="colors3" name="palette" type="radio" value="3"
                        class="input_palette js__inputPalette3">
                    <div class="palette palette_color7"></div>
                    <div class="palette palette_color8"></div>
                    <div class="palette palette_color9"></div>
                </label>
            </li>
        </ul>
    </div>
</section>