<section class="form-share-section js__form-share-section hidden">
    <button class="create_Card_btn js__createCardBtn">
        <span class="icon-wrapper">
            <i class="fa-solid fa-address-card create_Card_icon js__createCardIcon"></i>
        </span>
        Crear Tarjeta
    </button>
    <div class="js__createMessage creatMessage hidden">
        <h2 class="created_Card">La tarjeta ha sido creada:</h2>
        <a class="creat_Card_link js__creatCardLink"
            href="dataResponse.cardURL">https://awesome-profile-card.com?id=A456DF0001</a>
        <a class="twitter_btn js__twitterBtn" href="https://x.com/home" target="_blank">
            <i class="fa-brands fa-twitter twitter_icon"></i> Compartir en Twitter
        </a>
    </div>
</section>