<section class="form-fill-section">
  <div class="form_fill js__form_fill">
    <div class="form__data">
      <label class="form__fill_Label" for="name">Nombre Completo</label>
      <input class="form__name form__input js__input_name" id="name" type="text" placeholder="Ej: Sally Jill" />
    </div>
    <div class="form__data">
      <label class="form__fill_Label" for="name">Puesto</label>
      <input class="form__job form__input js__input_job" type="text" id="job" placeholder="Ej: Front-end unicorn" />
    </div>

    <div class="form__img">
      <legend class="form__fill_Label" for="image">Imagen del Perfil</legend>
      <div class="img__box">
        <button class="form__btn">Añadir imagen</button>
        <input class="form__checkbox" type="checkbox" name="" id="checkbox" />
      </div>

      <div class="form__data">
        <label class="form__fill_Label" for="email">Email</label>
        <input class="form__email form__input js__inputEmail" type="email" name="email" id="email"
          placeholder="Ej: sally.hill@gmail.com" />
      </div>
      <div class="form__data">
        <label class="form__fill_Label" for="phone">Teléfono</label>
        <input class="form__phone form__input js__inputPhone" type="tel" name="phone" id="phone"
          placeholder="Ej: 5555-55-55-55" />
      </div>
      <div class="form__data">
        <label class="form__fill_Label" for="linkedin">Linkedin</label>
        <input class="form__linkedin form__input js__inputLinkedin" type="text" name="linkedin" id="linkedin"
          placeholder="Ej: linkedin.com/in/sally-hill" />
      </div>
      <div class="form__data">
        <label class="form__fill_Label" for="github">Github</label>
        <input class="form__github form__input js__inputGithub" type="text" name="github" id="github"
          placeholder="Ej: @sally-hill" />
      </div>
</section>
</div>
</div>
</section>
