
<section class="form-fill-section">

    <div class="form__data">
        <label class="form__label" for="name">Nombre Completo</label>
        <input class="form__name" id="name" type="text" placeholder="Ej: Sally Jill">
    </div>
    <div>
        <label class="form__label" for="name">Puesto</label>
        <input class="form__job" type="text" id="job" placeholder="Ej: Front-end unicorn">
    </div>

    <div class="form__img">
        <legend class="form__label-image" for="image">Imagen del Perfil</legend>
        <button class="form__btn">Añadir imagen</button>
        <input type="checkbox" name="" id="checkbox">
    </div>

    <div class="form__data">
        <label class="form__label" for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Ej: sally.hill@gmail.com">
    </div>
    <div>
        <label class="form__label" for="phone">Teléfono</label>
        <input type="tel" name="phone" id="phone" placeholder="Ej: 5555-55-55-55">
    </div>
    <div>
        <label class="form__label" for="linkedin">Linkedin</label>
        <input type="text" name="linkedin" id="linkedin" placeholder="Ej: linkedin.com/in/sally-hill">
    </div>
    <div>
        <label class="form__label" for="github">Github</label>
        <input type="text" name="github" id="github" placeholder="Ej: @sally-hill">
    </div>

</section>
