<main class="main__landing">

    <section class="section__1">

        <div>
            <img class="section__1__img" src="./images/logo_awesome.svg" alt="Logo de Awesome-profile-cards">
            <p class="section__1__text__1">Crea tu tarjeta de visita</p>
            <p class="section__1__text__2">Crea mejores contactos profesionales de forma fácil y cómoda</p>
        </div>

    </section>

    <section class="section__2">

        <div class="section__2__icons">

            <div class="icon-container">
                <i class="fa-solid fa-object-ungroup"></i>
                <p>Diseña</p>
            </div>
            <div class="icon-container">
                <i class="fa-regular fa-keyboard"></i>
                <p>Rellena</p>
            </div>
            <div class="icon-container">
                <i class="fa-solid fa-share-nodes"></i>
                <p>Comparte</p>
            </div>


            <!-- <i class="fa-solid fa-object-ungroup"></i>
            <p>Diseña</p>

            <i class="fa-regular fa-keyboard"></i>
            <p>Rellena</p>


            <i class="fa-solid fa-share-nodes"></i>
            <p>Comparte</p> -->

        </div>

        <div class="section__2__Btn">

            <a class="section__2__Btn__text" href="./create.html"> Comenzar </a>

        </div>

    </section>

</main>