
<!-- main code -->

<main class="main">
<!-- Preview -->
    <section class="main-preview">

</section>

<!-- FORM  -->
<form>

<!-- FORM DESIGN -->    
<fieldset class="form-design">
    <legend class="form__legend">
        icono 
        Diseña
        icono
    </legend>
    
    <div>
        <load src="partials/form-design.html" />
    </div>
</fieldset>

<!-- FORM FILL -->  
<fieldset class="form-fill">
    <legend class="form__legend">
        icono
        Rellena
        icono
    </legend>
    
    <div>
        <load src="partials/form-fill.html" />
    </div>
</fieldset>

<!-- FORM SHARE -->  
<fieldset class="form-share">
    <legend class="form__legend">
        icono
        Comparte
        icono
    </legend>
    
    <div>
        <load src="partials/form-share.html" />
    </div>
</fieldset>
</form>

</main>

