<!-- main code -->

<main class="main">
  <!-- Preview -->
  <section class="main-preview">
    <load src="partials/preview.html" />
  </section>

  <!-- FORM  -->
  <form class="form">
    <!-- FORM DESIGN -->
    <fieldset class="form-design">
      <legend class="form__legend">
        <i class="far fa-keyboard" aria-hidden="true"></i>
        <h2>Diseña</h2>
        <i class="fas fa-chevron-down" aria-hidden="true"></i>

      </legend>

      <div>
        <load src="partials/form-design.html" />
      </div>
    </fieldset>

    <!-- FORM FILL -->
    <fieldset class="form-fill">
      <legend class="form__legend">
        <i class="fa-regular fa-keyboard"></i>     
        <h2>Rellena</h2>
        <i class="fas fa-chevron-down" aria-hidden="true"></i>

      </legend>

      <div>
        <load src="partials/form-fill.html" />
      </div>
    </fieldset>

    <!-- FORM SHARE -->
    <fieldset class="form-share">
      <legend class="form__legend">
        <i class="fa-solid fa-share-nodes"></i>   
        <h2>Comparte</h2>
        <i class="fas fa-chevron-down" aria-hidden="true"></i>

      </legend>

      <div>
        <load src="partials/form-share.html" />
      </div>
    </fieldset>
  </form>
</main>