<!-- main code -->

<main class="main">
  <!-- Preview -->
  <section class="main__preview">
    <load src="partials/preview.html" />
  </section>

  <!-- FORM  -->
  <form class="form">
    <!-- FORM DESIGN -->
    <fieldset class="form__fieldset">
      <legend class="form__legend">
        <i class="fa-solid fa-object-ungroup icon_section" aria-hidden="true"></i>
        <h2 class="title_section">DISEÑA</h2>
        <i class="fas fa-chevron-down icon_arrow" aria-hidden="true"></i>
      </legend>

      <div><!-- <div class="hidden"> -->
        <load src="partials/form-design.html" />
      </div>
    </fieldset>

    <!-- FORM FILL -->
    <fieldset class="form__fieldset">
      <legend class="form__legend">
        <i class="fa-regular fa-keyboard icon_section"></i>
        <h2 class="title_section">RELLENA</h2>
        <i class="fas fa-chevron-down icon_arrow" aria-hidden="true"></i>

      </legend>

      <div><!-- <div class="hidden"> -->
        <load src="partials/form-fill.html" />
      </div>
    </fieldset>

    <!-- FORM SHARE -->
    <fieldset class="form__fieldset">
      <legend class="form__legend">
        <i class="fa-solid fa-share-nodes icon_section"></i>
        <h2 class="title_section">COMPARTE</h2>
        <i class="fas fa-chevron-down icon_arrow" aria-hidden="true"></i>

      </legend>

      <div><!-- <div class="hidden"> -->
        <load src="partials/form-share.html" />
      </div>
    </fieldset>
  </form>
</main>