<div class="preview">
  <div class="card_box">
    <button class="button_reset js__resetBtn">
      <i class="fa-regular fa-trash-can"></i> RESET
    </button>
    <div class="preview_profile_card">
      <div class="preview_titlebox">
        <div class="green js__linePreview"></div>
        <div class="preview_header">
          <h2 class="preview_name js__namePreview">Nombre Apellido</h2>
          <h3 class="preview_job js__jobPreview">Front-end developer</h3>
        </div>
      </div>

      <div class="preview_photo js__profile-image"></div>
      <nav class="circle_box">
        <a class="circle js__phonePreview js__linkPreview js__link__phone" href="#"><i
            class="fa-solid fa-mobile-screen-button"></i></a>
        <a class="circle js__emailPreview js__linkPreview js__link__email" href="#"><i
            class="fa-regular fa-envelope"></i></a>
        <a class="circle js__linkedinPreview js__linkPreview js__link__linkedin" href="#"><i
            class="fa-brands fa-linkedin-in"></i></a>
        <a class="circle js__githubPreview js__linkPreview js__link__github" href="#"><i
            class="fa-brands fa-github-alt"></i></a>
      </nav>
    </div>
  </div>
</div>