<div class="preview">
  <button><i class="fa-regular fa-trash-can"></i></button>
  <div class="preview_header">
    <h2 class="preview_name">Nombre Apellido</h2>
    <h3 class="preview_job">Front-end developer</h3>
  </div>
  <div class="preview_photo"></div>
  <nav>
    <a href="#"><i class="fa-solid fa-mobile-screen-button"></i></a>
    <a href="#"><i class="fa-regular fa-envelope"></i></a>
    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
    <a href="#"><i class="fa-brands fa-github-alt"></i></a>
  </nav>
</div>
