@import "./core/reset.scss";
@import "./core/variables.scss";
@import "./core/fonts.scss";

@import "./layout/header.scss";
@import "./layout/landing.scss";
@import "./layout/preview.scss";
@import "./layout/form-fill.scss";
@import "./layout/form-share.scss";
@import "./layout/form-design.scss";
@import "./layout/footer.scss";

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//<------ESTRUCTURA PAGINA CREATE.HTML------->

.main {
  background-color: #f5f5f5;

  width: 100%;

  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /*   justify-content: center; */
  /*   align-items: center; */
  .form {
    align-items: left;
    flex-direction: column;
    width: 100%;
    margin-right: 40px;
    padding-top: 27px;

    @media (min-width: 768px) {
      padding-top: 0%;
    }
  }

  .form__label {
    color: $gunmetal;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
  }

  .main__preview {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;

    .main__preview {
      width: 40%;
      order: 2;
    }

    .form {
      width: 60%;
      order: 1;
    }
  }
}

//<------ESTRUCTURA TITULARES CON ICONOS (FORM)------->

.form__fieldset {
  border: 0;
  border-bottom: 2px groove $light-grey-blue;
  padding-block: 10px;
  margin-bottom: 10px;
}

.form__legend {
  display: flex;
  align-items: center;
  width: 100%;

  .title_section {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    margin: 0 10px 0 10px;
  }

  .icon_arrow {
    cursor: pointer;
    margin-left: auto;
  }

  .icon_section {
    color: $dull-orange;
  }
}

// <----------DESPLEGABLE FORMS ------------->

/* .form_content {
  display: block;
  transition: height 0.3s ease-in-out;

  .hidden {
    display: none;
    height: 0;
    overflow: hidden;
  }
  .icon_arrow {
    margin-left: auto;
    rotate: 50px;
  }
} */
